= form_tag fetch_offers_offers_path, class: 'form form-horizontal',  remote: true, method: :get, id: 'offersSearchForm'  do
  .form-group
    = label_tag 'uid', t('form.title.uid') , class: 'col-xs-2 control-label'
    .col-xs-7
      =text_field_tag 'uid' , nil,  class: 'form-control', placeholder: t('form.placeholder.uid')
  .form-group#custom-params
    = label_tag 'pub0', t('form.title.pub0') , class: 'col-xs-2 control-label'
    .col-xs-7
      =text_field_tag 'pub0' , nil,  class: 'form-control', placeholder: t('form.placeholder.pub0')
  .form-group
    = label_tag 'page', t('form.title.page') , class: 'col-xs-2 control-label'
    .col-xs-2
      =number_field_tag 'page' , 1,  min: 1, class: 'form-control'
  .form-group
    .col-xs-offset-2.col-xs-10
      =submit_tag t('form.title.submit'), class: 'btn btn-primary offersSubmit'

- content_for(:page_javascript) do
  :coffeescript
    $(document).ready ->
      $('.offersSubmit').on 'click', (e) ->
        e.preventDefault()
        $('#offers').html("#{j(render 'offers/loader')}")
        $('#offersSearchForm').submit()
        $('.offersSubmit').addClass('disabled')
